<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Heading</title>
  </head>
  <body bgcolor="lightpink" text="green">
    <h1>What are articles?</h1>
    <hr />
    <p>
      Articles are words that identify a noun as being specific or unspecific.
      Consider the following examples:
    </p>

    <p>
      The definite article is the word the. It limits the meaning of a noun to
      one particular thing. For example, your friend might ask, “Are you going
      to the party this weekend?” The definite article tells you that your
      friend is referring to a specific party that both of you already know
      about. The definite article can be used with singular, plural, or
      uncountable nouns. Below are some examples of the definite article, the,
      used in context:
    </p>

    <img src="cat.png" alt="" height="200px" />
    <hr />
    <img src="bird.jpg" alt="" height="200px" />
  </body>
</html>
