<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css</title>
    <style>
      .post {
        font-family: Arial, Helvetica, sans-serif;
        background-color: aquamarine;
        width: 500px;
        height: 210px;
        padding: 15px;
        margin: 15px auto;
      }
      img {
        width: 200px;
        float: left;
        margin-right: 15px;
      }
      p {
        padding: 0;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <div class="post">
      <p>
        <img src="cat.PNG" alt="" />
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Explicabo
        molestias obcaecati distinctio consequatur? Harum omnis optio, ad
        suscipit reiciendis eius corporis pariatur nesciunt, magnam quo dolor
        aperiam aliquid quia cumque?
      </p>
    </div>
  </body>
</html>
