* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
p {
  line-height: 1.6;
  margin-bottom: 30px;
}
header {
  background-color: pink;
  text-align: center;
  padding: 30px 0;
  font-size: 24px;
  font-weight: 600;
}

footer {
  background-color: #222;
  text-align: center;
  color: aliceblue;
  padding: 15px 0;
}
.container {
  width: 90%;
  margin: 0 auto;
}
.row {
  display: flex;
}
.col {
  flex-grow: 1;
}
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.bg-primary {
  background-color: #0a7ce6;
}

.post-img {
  width: 100%;
}
main {
  padding: 60px 0;
}

main h1 {
  margin-bottom: 15px;
}
.px-30 {
  padding: 0 30px;
}

.latest h3 {
  background-color: burlywood;
  padding: 5px 15px;
  margin-bottom: 15px;
}
.latest ul {
  list-style: none;
}
.latest ul li a {
  display: block;
  text-decoration: none;
  color: #0a7ce6;
  padding: 10px 15px;
  transition: all 0.5s;
}
.latest ul li a:hover {
  background-color: #ccc;
}

@media screen and (max-width: 600px) {
  .row {
    flex-direction: column;
  }
  .w-25 {
    width: 100%;
  }
  .w-50 {
    width: 100%;
  }
}
